<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
<!-- Page Content -->

	<div class="product-big-title-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="product-bit-title text-center">
						<h2>Souhrn objednávky</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="container">

      <div class="row">

        	<div class="col-sm-12">
        		<table class="table table-hover">
        			<tr><th>Jméno</th><td th:text="${user.firstName}"></td></tr>
        			<tr><th>Příjmení</th><td th:text="${user.lastName}"></td></tr>
        			<tr><th>Email</th><td th:text="${user.email}"></td></tr>
        			<tr><th>Telefon</th><td th:text="${user.phone}"></td></tr>
        			<tr><th>Adresa</th><td th:text="${user.address}"></td></tr>
        			<tr><th>Město</th><td th:text="${user.city}"></td></tr>
        			<tr><th>PSČ</th><td th:text="${user.postcode}"></td></tr>
        		</table>
				<form class="form" th:action="@{/order/payment}" method="post">
					<input type="hidden" th:value="${order.orderId}" name="orderId" />
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th>Produkt</th>
		                        <th>&nbsp;</th>
								<th class="col-md-2 text-center">Množství</th>
								<th class="col-md-2 text-center">Cena</th>
								<th class="col-md-2 text-center">Cena celkem</th>
		                        <th> </th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="orderDetails : ${order.orderItems}">
		                    	<td><a class="thumbnail pull-left" th:href="@{/product/show/{id}(id=${orderDetails.productId})}">
								<img class="media-object" src="/img/img_not_found.gif" style="width: 72px; height: 72px;"/> </a></td>
		                        <td class="col-sm-8 col-md-6">
		                        <div class="media">
		                            <div class="media-body">
		                                <h4 class="media-heading"><a th:href="@{/product/show/{id}(id=${orderDetails.productId})}" th:text="${orderDetails.productName}">Product name</a></h4>
		                            </div>
		                        </div></td>
		                        <td class="col-sm-1 col-md-1" style="text-align: center" th:text="${orderDetails.quantity}">
		                        </td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(orderDetails.unitPrice, ' Kč')}"></strong></td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(orderDetails.unitPrice * orderDetails.quantity, ' Kč')}"></strong></td>
		                        <td class="col-sm-1 col-md-1">
		                        	&nbsp;
		                        </td>
		                    </tr>
		                </tbody>
		                <tfoot>
							<tr>
								<th>Cena dopravy</th>
								<td>&nbsp;</td>
								<td>   </td>
								<td>   </td>
								<th class="text-center" th:text="${#strings.concat(order.shipping.price, ' Kč')}"></th>
							</tr>
		                    <tr>
		                    	<td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td class="text-center"><h3>Celkem</h3></td>
		                        <td class="text-right"><h3 th:text="${#strings.concat(order.totalWithShipping, ' Kč')}"></h3></td>
		                    </tr>
		                    <tr>
								<td>
									<a th:href="@{/order/my_orders}" class="btn btn-default btn-lg">Přehled objednávek</a>
								</td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>
		                        <button type="submit" class="btn btn-success btn-lg">Přejít k platbě</button></td>
		                    </tr>
		                </tfoot>
		            </table>
			</form>
        </div>
        </div>
      
	</div>
	<!-- /.container -->
	<div th:replace="common/header :: footer-area"/>
	<div th:replace="common/header :: body-bottom-scripts"/>
</html>