<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
<!-- Page Content -->
    <div class="container">

      <div class="row">

        	<div class="col-sm-12">
        		<form th:action="@{/order/checkout}" method="post">
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th>Produkt</th>
		                        <th>&nbsp;</th>
		                        <th class="col-md-2">Množství</th>
		                        <th class="col-md-2 text-center">Cena</th>
		                        <th class="col-md-2 text-center">Cena celkem</th>
		                        <th> </th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="lineItem : ${cart.items}">
								<td><a class="thumbnail pull-left" th:href="@{/product/show/{id}(id=${lineItem.productId})}">
									<img class="media-object" src="/img/img_not_found.gif" style="width: 72px; height: 72px;"/> </a></td>
								<td class="col-sm-8 col-md-6">
		                        <div class="media">
		                            <div class="media-body">
		                                <h4 class="media-heading"><a th:href="@{/product/show/{id}(id=${lineItem.productId})}" th:text="${lineItem.productName}">Product name</a></h4>
		                            </div>
		                        </div></td>
		                        <td class="col-sm-1 col-md-1" style="text-align: center" th:text="${lineItem.quantity}">
		                        </td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(lineItem.unitPrice, ' Kč')}"></strong></td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(lineItem.unitPrice * lineItem.quantity, ' Kč')}"></strong></td>
		                        <td class="col-sm-1 col-md-1">
		                        	&nbsp;
		                        </td>
		                    </tr>
		                </tbody>
		                <tfoot>
		                    <tr>
		                    	<td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td><h3>Cena celkem</h3></td>
								<td class="col-sm-2 col-md-2 text-right text-right"><h3 th:text="${#strings.concat(totalPrice, ' Kč')}"></h3></td>
		                    </tr>
		                    <tr>
								<td>
									<a th:href="@{/product/list}" class="btn btn-default btn-lg">
										<i class="fa fa-shopping-cart" aria-hidden="true"></i> Zpět
									</a>
								</td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>
		                        	<select name="shipping">
		                        		<option th:each="shipOption: ${shipping}" th:value="${shipOption.name}" th:text="${#strings.concat(shipOption.price, ' Kč ', shipOption.name)}"></option>
		                        	</select>
		                        </td>
		                        <td>
		                        <button type="submit" class="btn btn-success btn-sm">
		                            Odeslat objednávku <i class="fa fa-play" aria-hidden="true"></i>
		                        </button></td>
		                    </tr>
		                </tfoot>
		            </table>
			</form>
        </div>
        </div>
      
	</div>
	<!-- /.container -->
    <div th:replace="common/header :: body-bottom-footer"/>
    <div th:replace="common/header :: body-bottom-scripts"/>
</html>