<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />

    <div class="container">
        <div class="slider-area">
            <!-- Slider -->
            <div class="block-slider block-slider4">
                <ul class="" id="bxslider-home4">
                    <li>
                        <img src="/img/h4-slide.png" alt="Slide"/>
                        <div class="caption-group">
                            <h2 class="caption title">
                                iPhone <span class="primary">6 <strong>Plus</strong></span>
                            </h2>
                            <h4 class="caption subtitle">Dual SIM</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Prohlédnout detail</a>
                        </div>
                    </li>
                    <li><img src="/img/h4-slide2.png" alt="Slide"/>
                        <div class="caption-group">
                            <h2 class="caption title">
                                Sleva <span class="primary">50%</span>
                            </h2>
                            <h4 class="caption subtitle">Na vybrané produkty</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Připravujeme</a>
                        </div>
                    </li>
                    <li><img src="/img/h4-slide3.png" alt="Slide"/>
                        <div class="caption-group">
                            <h2 class="caption title">
                                Apple <span class="primary"><strong>Ipod</strong></span>
                            </h2>
                            <h4 class="caption subtitle">legenda se vrací</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Připravujeme</a>
                        </div>
                    </li>
                    <li><img src="/img/h4-slide4.png" alt="Slide"/>
                        <div class="caption-group">
                            <h2 class="caption title">
                                Nové přístušenství
                            </h2>
                            <h4 class="caption subtitle">Pro produkty Apple</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Připravujeme</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ./Slider -->
        </div> <!-- End slider area -->
    </div>

    <div class="product-big-title-area" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Přehled produktů</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb"></ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="single-product-area">
            <div class="container">
                <div class="row">
                   <div class="col-12 col-sm-3">
                       <h3 class="my-4">Kategorie</h3>
                        <div class="list-group">
                            <a th:each="category : ${categories}" th:href="@{/product/list/category/{id}(id=${category.id})}"
                               th:text="${category.name}" class="list-group-item"></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div th:each="product : ${products}" class="col-md-4 col-sm-6">
                                <div class="single-shop-product">
                                    <div class="product-upper">
                                        <img th:if="${product.productImageUrl != null}" th:src="${product.productImageUrl}" alt=""/>
                                        <img th:if="${product.productImageUrl == null}" src="/img/img_not_found.gif"/>
                                    </div>
                                    <h2><a th:href="@{/product/show/{id}(id=${product.id})}" th:text="${product.name}">Apple new mac</a></h2>
                                    <div class="product-carousel-price">
                                        <ins th:text="${#strings.append(product.price, ' Kč')}">899.00</ins>
                                    </div>
                                    <div class="product-option-shop">
                                        <form th:action="@{/cart/add_to_cart}" method="post">
                                            <input type="hidden" th:value="${product.id}" name="product_id" />
                                            <button type="submit" class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" >Vložit do košíku</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->
    <div th:replace="common/header :: footer-area"/>
    <div th:replace="common/header :: body-bottom-scripts"/>

    <!-- Slider -->
    <script type="text/javascript" src="/js/bxslider.min.js"></script>
    <script type="text/javascript" src="/js/script.slider.js"></script>

</html>