<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
<!-- Page Content -->
    <div class="container">

      <div class="row">

		  <div th:if="${cart} != null">
        	<div class="col-sm-12">
        		<form th:action="@{/cart/update}" method="post">
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th>Produkt</th>
		                        <th>&nbsp;</th>
		                        <th class="col-md-2">Množství</th>
		                        <th class="col-md-2 text-center">Cena</th>
		                        <th class="col-md-2 text-center">Celková cena</th>
		                        <th class="col-md-2 text-center">
									<button type="submit" class="btn btn-info btn-sm">
										<i class="fa fa-refresh" aria-hidden="true"></i> Přepočítat
									</button>
								</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="lineItem : ${cart.items}">
		                    	<td><a class="thumbnail pull-left" th:href="@{/product/show/{id}(id=${lineItem.productId})}">
		                    	<img class="media-object" src="/img/img_not_found.gif" style="width: 72px; height: 72px;"/> </a></td>
								<td class="col-sm-8 col-md-6">
		                        <div class="media">
		                            <div class="media-body">
		                                <h4 class="media-heading"><a th:href="@{/product/show/{id}(id=${lineItem.productId})}" th:text="${lineItem.productName}">Product name</a></h4>
		                                <span>Stav: </span><span class="text-success"><strong>Dostupné skladem</strong></span>
		                            </div>
		                        </div></td>
		                        <td class="col-sm-1 col-md-1" style="text-align: center">
		                        	<input type="hidden" name="product_ids[]" th:attr="value=${lineItem.productId}" />
		                        	<input type="number" min="1" class="form-control" th:attr="name=quantity[], value=${lineItem.quantity}, max=20"/><!--${lineItem.quantity}" />-->
		                        </td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(lineItem.unitPrice, ' Kč')}"></strong></td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(lineItem.unitPrice * lineItem.quantity, ' Kč')}"></strong></td>
		                        <td class="col-sm-1 col-md-1 text-center">
		                        <a th:href="@{/cart/removeItem/{id}(id=${lineItem.itemId})}" class="btn btn-danger">
		                            <i class="fa fa-ban" aria-hidden="true"></i> Odebrat
		                        </a></td>
		                    </tr>
		                </tbody>
		                <tfoot>
		                    <tr>
		                    	<td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td class="text-center"><h3>Celková cena</h3></td>
		                        <td class="col-sm-2 col-md-2 text-right text-right"><h3 th:text="${#strings.concat(totalPrice, ' Kč')}"></h3></td>
		                    </tr>
		                    <tr>
		                    	<td>
									<a th:href="@{/product/list}" class="btn btn-default btn-lg">
										<i class="fa fa-shopping-cart" aria-hidden="true"></i> Zpět
									</a>
								</td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>
									<a th:href="@{/cart/clearCart}" class="btn btn-warning btn-lg">Vyprázdnit košík</a>
								</td>
		                        <td>
									<a th:href="@{/cart/preorder}" class="btn btn-success btn-lg">
										Jít k pokladně <i class="fa fa-play" aria-hidden="true"></i>
									</a>
								</td>
		                    </tr>
		                </tfoot>
		            </table>
			</form>
			</div>
		  </div>
		  <div th:if="${cart} == null">
			  <h2>Košík je prázdný.</h2>
		  </div>
        </div>
      
	</div>
	<!-- /.container -->
	<div th:replace="common/header :: footer-area"/>
	<div th:replace="common/header :: body-bottom-scripts"/>
</html>