<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />

<body>
<!-- Page Content -->
	<div class="login-form">
		<form class="form-signin" th:action="@{/signin}" method="post">
			<div class="avatar">
				<img src="/img/avatar.png" alt="Avatar"/>
			</div>
			<h2 class="text-center">Přihlášení</h2>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
					<input type="text" roleId="username" class="form-control" placeholder="Uživatelské jméno" name="username"
						   id="username"
						   required="required" autofocus="autofocus"/>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
					<input type="password" roleId="inputPassword" class="form-control" placeholder="Heslo"
						   id="password"
						   name="password" required="required"/>
				</div>
			</div>
			<div>
				<div th:if="${flash}" class="alert " th:classappend="${type}" th:text="${flashMessage}"></div>
				<div class="alert alert-danger" th:if="${param.error}">
					Nesprávné uživatelské jméno nebo heslo.
				</div>
				<div class="bg-danger" th:if="${param.logout}">
					Byl jste odhlášen.
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Přihlásit se</button>
			</div>
			<div class="clearfix">
				<label class="pull-left checkbox-inline"><input type="checkbox"/> Zapamatovat</label>
				<a th:href="@{/forgotPassword}" class="pull-right">Zapomenuté heslo</a>
			</div>
		</form>
		<hr />

		<div class="form-group ">
			<a type="submit" class="btn btn-info btn-lg btn-block login-button" th:href="@{/signup}">Registrovat</a>
			<a th:href="@{/forgotPassword}">Zapomenuté heslo</a>
		</div>
	</div>
</body>

	<!-- /.container -->
	<div th:replace="common/header :: footer-area"/>
	<div th:replace="common/header :: body-bottom-scripts"/>
</html>