<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Detail produktu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">             
                <div>
                    <div class="product-content-right">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb"></ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img th:if="${product.productImageUrl != null}" th:src="${product.productImageUrl}" alt=""/>
                                        <img th:if="${product.productImageUrl == null}" src="/img/img_not_found.gif"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name" th:text="${product.name}">Sony Smart TV - 2015</h2>
                                    <div class="product-inner-price" style="font-size: 40px;">
                                        <ins th:text="${#strings.append(product.price, ' Kč')}">899 Kč</ins>
                                    </div>

                                    <form th:action="@{/cart/add_to_cart}" class="cart" method="post">
                                        <input type="hidden" th:value="${product.id}" name="product_id" />
                                        <div class="quantity">
                                            <label for="quantity">Množství</label>
                                            <br/>
                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1"/>
                                        </div>
                                        <button style="padding: 19px 20px;" type="submit" class="add_to_cart_button" data-quantity="quantity" data-product_sku="" data-product_id="product_id" rel="nofollow" >Vložit do košíku</button>
                                    </form>

                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Popis</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Recenze</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Popis produktu</h2>
                                                <p><span th:text="${product.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique, diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut. Suspendisse potenti. Nulla varius lectus id turpis dignissim porta. Quisque magna arcu, blandit quis felis vehicula, feugiat gravida diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. In varius lorem lorem, semper bibendum lectus lobortis ac.</span></p>

                                                <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-inner-category">
                                        <p></p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div th:replace="common/header :: footer-area"/>
    <div th:replace="common/header :: body-bottom-scripts"/>


</html>